.SignIn {
  display: flex;
  height: 100vh;
  width: 100%;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  margin: auto;
  z-index: 999;
  background-color: #2947be;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  border: 3px solid #a093e6;
}
.loginbtn {
  float: right;
}
.username {
  margin-top: 30px;
}
.password {
  margin-top: 30px;
}
.items {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 30px;
  margin-bottom: 10px;
  float: center;
  background-color: white;
  border-radius: 15px;
  -moz-border-radius: 15px;
  padding-top: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
}
.headerlogin {
  font-family: Arial;
  float: center;
  font-size: 60px;
  color: #df7905;
}

.imglogo {
  width: 65px;
}
.loginstatus {
  color: #a81111;
}

.gridRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
}
.Register {
  padding: 10px;
  width: 400px;
}
